<div class="item">
    <img src="{{item.imageUrl}}">
    <div class="description" >
      {{item.description}}
    </div>
    <div class="price" [ngClass]="{'line': item.price > 500}">
      {{item.price | currency}} 
    </div>
    <div class="new-price">
        {{item.price | discount | currency }}
    </div>

    <div class="date">
      {{item.purchaseDate | date:'fullDate'}}
    </div>
    <div class="sale" *ngIf="item.price < 500; else moshe"
    appHighlightText [bgColor]="'black'">
      SALE!!
    </div>
    <ng-template #moshe>
      <div>NOT SALE...</div>
    </ng-template>
    <button class="btn btn-danger" (click)="delete()"
    *ngIf="remove">
      Delete
    </button>

    <button class="btn btn-success" *ngIf="!remove"
    (click)="addToCart()">Add To Cart</button>

    <button (click)="removeFromList()">REMOVE FROM LIST</button>
  </div>
